@model List<UserSignUpDto>
@{
    ViewData["Title"] = "Index";
}

@section PageTitle {
    <title>2B - Users</title>
}

<div class="container-fluid">
    <h2>All Users</h2>

    <div class="mb-3">
        <label for="roleSelect" class="form-label">Filter by Role:</label>
        <select id="roleSelect" class="form-control">
            <option value="">All</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
            <!-- Add more options for other roles if needed -->
        </select>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    @*<th>First Name (AR)</th>*@
                    <th>Last Name</th>
                    @*<th>Last Name (AR)</th>*@
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        @*<td>@user.Id</td>*@
                        <td>@user.FirstName</td>
                        @*<td>@user.FirstNameAR</td>*@
                        <td>@user.LastName</td>
                        @*<td>@user.LastNameAR</td>*@
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        @*<td>@user.Role</td>*@
                        <td>
@*                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
*@                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        let sideLinks = document.querySelectorAll(".side-nav");
        sideLinks.forEach(e => e.classList.remove("active"));

        let activeLink = document.getElementById("users");
        activeLink.classList.add("active");
        // Get the select element
        const roleSelect = document.getElementById('roleSelect');

        // Add an event listener to handle changes in the select element
        roleSelect.addEventListener('change', function () {
            // Get the selected role value
            const selectedRole = roleSelect.value;

            // Redirect to the UserController with the selected role as a query parameter
            // Replace 'YourControllerName' with the actual name of your UserController
            window.location.href = '/User/Index?role=' + selectedRole;
        });
    </script>
}
