@model List<SubCategoryDTO>
@{
    ViewData["Title"] = "Index";
    //CategoryDTO = Model.Find(categ => )
}

@section PageTitle {
    <title>2B - SubCategories</title>
}

<div class="container-fluid">
    <h2>All SubCategories</h2>

    <a asp-action="Create" class="btn btn-primary mb-3">Create new subCategory</a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var subCategory in Model)
        {
            <div class="col">
                <div class="card border-primary shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title"><strong>@subCategory.NameEN</strong></h5>
                        @*<p><strong>Name (AR): </strong>@subCategory.NameAR</p>*@
                        <p>Under category : <strong>@subCategory.Category?.NameEN</strong></p>
                        <p>Under subCategory : <strong>@(subCategory.Subcategory?.NameEN ?? "None")</strong></p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@subCategory.Id" class="btn btn-success">Edit</a>
                        <form asp-action="Delete" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@subCategory.Id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this subCategory?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        let sideLinks = document.querySelectorAll(".side-nav");
        sideLinks.forEach(e => e.classList.remove("active"));

        let activeLink = document.getElementById("subCategories");
        activeLink.classList.add("active");
    </script>
}
