@model List<OrderDTO>
@{
    ViewData["Title"] = "Index";
}

@section PageTitle {
    <title>2B - Orders</title>
}

<div class="container-fluid">
    <h2>All Orders</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Payment Status</th>
                    <th>Tracking Information</th>
                    <th>User ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderDate</td>
                        <td>@order.TotalAmount</td>
                        <td>@order.PaymentStatus</td>
                        <td>@order.TrackingInformation</td>
                        <td>@order.UserId</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@order.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        let sideLinks = document.querySelectorAll(".side-nav");
        sideLinks.forEach(e => e.classList.remove("active"));

        let activeLink = document.getElementById("orders");
        activeLink.classList.add("active");
    </script>
}
